<%- include('../../shared/includes/head') %>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/image-preview.js" defer></script>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>

            <main>
                <h1>Add new product</h1>
                <!-- For uploading image we need enctype multipart/form-data
                but hidden input with csrf token doesn't work with multipart
                so csrf token is included into action path-->
                <form action="/admin/products?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
                    <p>
                        <label for="image"></label>
                        <input type="file" id="image" name="image" accept="image/png,image/jpg">
                    </p>
                    <img id="image-preview" width="4rem" height="4rem" style="display: none; object-fit: cover;" src="" alt="Selected image.">
                </form>
            </main>
    </body>