<%- include('../../shared/includes/head') %>
<%- include('../../shared/includes/header') %>

<main>
    <h1>Add new product</h1>
    <form action="" method="POST">
        <p>
            <label for="image"></label>
            <input type="file" id="image" name="image" accept="image/png,image/jpg">
        </p>
    </form>
</main>