<div class="cart-item">
    <section class="cart-item-details">
        <h3>Magic Thing</h3>
        <span>$412.00</span><small>($103.00)</small>
    </section>
    <section class="cart-item-controls">
        <button class="btn">-</button><input type="text"><button class="btn">+</button>
    </section>
</div>