<div class="cart-item">
    <section class="cart-item-details">
        <h3>Magic Thing</h3>
        <span>$412.00</span><small>($103.00)</small>
    </section>
    <section class="cart-item-controls">
        <button class="btn btn-inverted btn-square">-</button><input type="number" class="item-quantity" min="0" max="99" value="0"><button class="btn btn-inverted btn-square">+</button>
    </section>
</div>