<header>
    <img src="images/logo.png" id="site-logo">
    <nav>
        <ul>
            <li>Shop</li>
            <li>Cart</li>
            <li>Signup</li>
            <li>Login</li>
        </ul>
    </nav>
</header>