<header>
    <a href="/"> <img src="images/logo.png" id="site-logo"></a>
    <nav class="navbar">
        <ul>
            <li><a href="products">Shop</a></li>
            <li><a href="cart">Cart<div id="cart-quantity">0</div></a></li>
            <li><a href="signup">Signup</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </nav>
</header>