<header>
    <a href="/"> <img src="images/logo.png" id="site-logo"></a>
    <nav class="navbar">
        <ul>
            <li>Shop</li>
            <li>Cart</li>
            <li>Signup</li>
            <li>Login</li>
        </ul>
    </nav>
</header>