<div class="order">
    <section class="order-details">
        <span class="order-total-sum">$239.96</span> - <time class="order-date">Thu, August 19, 2021</time>
        <ul class="order-items">
            <li>Magic Thing - $239.96 (49.99 x 5)</li>
            <li>Sunny Day - $139.96 (20.30 x 3)</li>
            <li>Peaceful Summer - $1039.22 (509.99 x 2)</li>
        </ul>
    </section>
    <section>
        <div class="order-status">PENDING</div>
    </section>
</div>