<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

    <body>
        <%- include('includes/header') %>
            <main class="full-width-page">
                <h2>All Your Orders</h2>
                <ul class="orders-list">
                    <li>
                        <%- include('includes/order-row') %>
                    </li>
                    <li>
                        <%- include('includes/order-row') %>
                    </li>
                </ul>
            </main>
    </body>

</html>