<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

    <body>
        <%- include('includes/header') %>
            <main>
                <h2>Create New Account</h2>
                <form action="" method="post">
                    <section>
                        <label>E-mail</label>
                        <input type="email" placeholder="example@example.com">
                        <label>Confirm E-mail</label>
                        <input type="email" placeholder="example@example.com">
                        <label>Password</label>
                        <input type="password" placeholder="password">
                    </section>
                    <section>
                        <label>Full Name</label>
                        <input type="text" placeholder="Rajesh Koothrappali">
                        <label>Street</label>
                        <input type="text" placeholder="Test Ave.">
                        <label>Postal Code</label>
                        <input type="text" placeholder="K8293">
                        <label>City</label>
                        <input type="text" placeholder="Rome">
                    </section>
                    <section>
                        <button type="submit">Create Account</button>
                        <button>Login</button>
                    </section>
                </form>
            </main>
    </body>

</html>