header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

#site-logo {
  height: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 0 0 0.5rem;
}

nav ul li:nth-child(1) {
  margin: 0;
}
