* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--dark-font);
  background-color: #181010;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 0 .5rem;
}

.centered-page {
  max-width: 300px;
}

.full-width-page {
  max-width: 600px;
}

.centered-page h2 {
  text-align: center;
}

h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: normal;
}

.btn {
  color: inherit;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: transparent;
  margin: 6px 0;
  cursor: pointer;
}

.btn-square {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

.btn-main {
  background-color: var(--accent-color-dark);
  color: var(--light-font);
}

@media (any-hover: hover) {
  .btn-main:hover {
    background-color: var(--accent-color-darker);
  }
}

.btn-inverted {
  border: 1px solid var(--accent-color-dark);
  color: var(--accent-color-dark);
}

@media (any-hover: hover) {
  .btn-inverted:hover {
    border: 1px solid var(--accent-color-darker);
    color: var(--accent-color-darker);
  }
}

.full-form {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.full-form section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

#create-account-form section:first-child {
  border-bottom: 1px solid var(--dark-font);
}

.full-form section:last-child {
  padding-top: 0;
}

.full-form input {
  margin: 2px 0;
  width: 100%;
  height: 1.5rem;
}

.full-form label {
  margin: 6px 0 2px;
}